<?xml version="1.0" encoding="UTF-8"?>




<suite name="RestAssured API Automation Testing">

	<listeners>
		<listener class-name="com.employeeapi.utilities.Listeners" />
	</listeners>


	<test thread-count="5" name="Employee Project API Testing">

		<classes>
			<class name="com.employeeapi.testCases.TC001_Get_All_Employees" />
			<class name="com.employeeapi.testCases.TC002_Get_Single_Employee" />
			<class name="com.employeeapi.testCases.TC003_Post_Create_New_Employee" />
			<class name="com.employeeapi.testCases.TC004_PUT_Update_Existing_Employee" />
			<class name="com.employeeapi.testCases.TC005_Delete_Employee" />



		</classes>

	</test>

</suite>